*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#nav{
    height: 80px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
}
#nav>article{
    height: 80px;
    width: 90%;
    display: flex;
}
#nav>article>.logo{
    height: 80px;
    width: 50%;
    display: flex;
    align-items: center;
}

#nav>article>.logo>svg{
    width: 20%;
    fill: green;
}
#nav>article>.menu{
    height: 80px;
    width: 40%;
}
#nav>article>.menu>ol{
    height: 80px;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
}
#nav>article>.menu>ol>li>a{
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
}
#nav>article>.menu>ol>li>a:hover{
    color: rgb(52, 255, 66);
}
#homepage{
    height: 100vh;
    width: 100%;
    background:url(/image.svg),linear-gradient(-45deg, rgb(108, 14, 224) -5%, rgb(240, 55, 166));
    display: flex;
    justify-content: center;
    align-items: center;
}
#homepage>article{
    height: 80%;
    width: 80%;
    /* border: 2px solid white; */
    display: flex;
}
#homepage>article>.phone{
    height: 100%;
    width: 30%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#homepage>article>.phone>svg{
    width: 550px;
    height: 650px;
    margin-top: 250px;
}
#homepage>article>.phone>img{
    position: absolute;
    margin-right: 20px;
    width: 300px;
    height: 500px;
    margin-left: 20px;
    margin-top: 250px;
    
}
#homepage>article>.text{
    height: 100%;
    width: 70%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
#homepage>article>.text>h1{
    font-size: 55px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#homepage>article>.text>button{
    height: 40px;
    width: 180px;
    border-radius: 50px;
    border: none;
    background-color: white;
    font-weight: bolder;
    margin-top: 25px;
}
#homepage>article>.text>button:hover{
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
}
#why{
    display: flex;
    justify-content: center;
}
#why>h3{
   
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding-top: 50px;
    font-size: 40px;
}

.logos{
    /* height:50vh;
    width: 80%;
    border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items:center;
    margin-left: 20px;
    margin-top: 50px;
}

#logo1{
    height: 370px;
    width: 280px;
    /* border: 2px solid blue ;  */
    text-align:left; 
    
}
#logo1>#img1{
    height: 200px;
    width: 200px;
    background-repeat:no-repeat ;
    background-image: url(https://i.scdn.co/image/ab671c3d0000f430678067184805befd38aa0f57);
    margin-left: 60px;

}
#logo1>#img1>div>h3{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 210px;
   
}

#logo1>#img1>div>p{
    height: 90px;
    width: 200px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    
}
#logo2{
    height: 370px;
    width: 300px;
    /* border: 2px solid blue ;  */
    text-align:left; 

}
#logo2>#img2{
    height: 200px;
    width: 200px;
    background-repeat:no-repeat ;
    background-image: url(https://i.scdn.co/image/ab671c3d0000f430a6f822749d5c25c32ee31d66);
    margin-left: 60px;
}

#logo2>#img2>div>h3{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 210px;
}

#logo2>#img2>div>p{
    height: 90px;
    width: 200px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    
}
#logo3{
    height: 370px;
    width: 300px;
    /* border: 2px solid blue ;  */
    text-align:left;
}
#logo3>#img3{
    height: 100%;
    width: 100%;
    background-repeat:no-repeat ;
    background-image: url(https://i.scdn.co/image/ab671c3d0000f430eb43023b5332389f5094530d);
    margin-left: 60px;

}
#logo3>#img3>div>h3{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 210px;
}

#logo3>#img3>div>p{
    height: 90px;
    width: 200px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    
}

#logo4{
    height: 370px;
    width: 300px;
    /* border: 2px solid blue ;  */
    text-align:left;
}
#logo4>#img4{
    height: 100%;
    width: 100%;
    background-repeat:no-repeat ;
    background-image: url(	https://i.scdn.co/image/ab671c3d0000f4309430062bc28461dc8fbde6bc);
    margin-left: 60px;

}
#logo4>#img4>div>h3{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 210px;
}
#logo4>#img4>div>p{
    height: 90px;
    width: 200px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px; 
}
#footer{
    height: 90vh;
    width: 100vw;
    background-color: black;
    display:flex;
    justify-content: center;
    align-items: center;
}
#footer>article{
    height: 80%;
    width: 90%;
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer>article>.logo{
    height: 100%;
    width: 20%;
    /* border: 1px solid white; */
   
}
#footer>article>.logo>#spotifylogo{
    height: 70px;
    width: 180px;
    /* border: 1px solid red; */
}
#footer>article>.logo>#spotifylogo>svg{
    fill: white;
}
#footer>article>.company{
    height: 100%;
    width: 20%;
    /* border: 1px solid white; */
}
#footer>article>.company>ol{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#footer>article>.company>ol>li{
    color: white;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 37px;

}
#footer>article>.company>ol>li:hover{
    color: rgb(52, 255, 66);
    cursor: pointer;

}
#footer>article>.commu{
    height: 100%;
    width: 20%;
    /* border: 1px solid white; */

}
#footer>article>.commu>ol{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#footer>article>.commu>ol>li{
    color: white;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 37px;

}
#footer>article>.commu>ol>li:hover{
    color: rgb(52, 255, 66);
    cursor: pointer;

}
#footer>article>.links{
    height: 100%;
    width: 20%;
    /* border: 1px solid white; */

}
#footer>article>.links>h3{
    color: white;
}
#footer>article>.links>ol{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#footer>article>.links>ol>li{
    color: white;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 37px;
}
#footer>article>.links>ol>li:hover{
    color: rgb(52, 255, 66);
    cursor: pointer;

}
#footer>article>.share{
    height: 100%;
    width: 20%;
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;

}
#footer>article>.share>div{
    height: 60px;
    width: 60px;
    border-radius: 100%;
    /* border: 1px solid red; */ 
    display: flex;
    justify-content: center;
    align-items: center;

}
#footer>article>.share>div>.fa-brands{
    color: white;
    font-size: 30px;  
}







